:root {
  --main-color: #b11010;
}

/* -------------------------------- 
Primary style
-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #31353d;
  background-color: #eeeff7;
}
body.overflow-hidden {
  /* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */
  overflow: hidden;
}

a {
  color: #794343;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* -------------------------------- 
  Modules - reusable parts of our design
  -------------------------------- */
.cd-container {
  /* this class is used to horizontally align the gallery of items */
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
::-webkit-scrollbar {
  background-color: rgb(0, 0, 0);
  width: 5px;
}
::-webkit-scrollbar-thumb  {
  background-color: rgb(49, 49, 49);
}
/* -------------------------------- 
  xheader 
  -------------------------------- */
  .logo-navbar{
    width: 200px;
  }
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #000;
  text-align: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}
.logo {
  height: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  font-weight: 400;
}
#logo {
  /* delete this property if you don't want your logo to scale down on mobile devices */
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

@media only screen and (min-width: 1000px) {
  header {
    height: 60px;
  }
  .logo {
    color: #fff;
    font-size: 24px;
    height: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
    font-weight: 400;
  }
  #logo {
    /* delete this property if you don't want your logo to scale down on mobile devices */
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@media only screen and (min-width: 1000px) {
  #logo {
    position: absolute;
    /* logo left margin on Dekstop */
    left: 2.4em;
    top: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

#cd-hamburger-menu,
#cd-cart-trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
#cd-hamburger-menu a,
#cd-cart-trigger a {
  width: 60px;
  height: 100%;
}

#cd-hamburger-menu {
  left: 0;
}
#cd-hamburger-menu a {
  background: #000102 url("../img/cd-menu.svg") no-repeat center center;
}
@media only screen and (min-width: 1000px) {
  #cd-hamburger-menu {
    display: none;
  }
}

#cd-cart-trigger {
  right: 0;
}
#cd-cart-trigger a {
  background: #000000 url("../img/cd-youtube.svg") no-repeat center center;
}
@media only screen and (min-width: 1000px) {
  #cd-cart-trigger {
    /* cart right margin on desktop */
    right: 0;
  }
  #cd-cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    background-color: #000000;
  }
}

#main-nav,
#cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

#main-nav {
  position: fixed;
  left: -100%;
  background: #fff;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
#main-nav ul .current {
  box-shadow: inset 3px 0 var(--main-color);
  position: fixed;
}

@media only screen and (min-width: 1000px) {
  #main-nav {
    /* reset main nav style */
    position: fixed;
    height: auto;
    width: auto;
    left: auto;
    right: 8em;
    padding-top: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    /* header height */
    line-height: 60px;
    z-index: 4;
  }
  #main-nav ul {
    margin: 0;
  }
  #main-nav li {
    display: inline-block;
    margin-left: 1em;
    margin: 0;
  }
  #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 0.5;
    padding: 1em 1.4em;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0em;
  }
  #main-nav ul a.current {
    box-shadow: none;
    border: 0.5px solid var(--main-color);
    color: #fff;
  }
  .no-touch #main-nav ul a:hover {
    box-shadow: none;
    background: #0e0e0e;
    color: #fff;
  }
}
.no-js #main-nav {
  position: fixed;
}

/* -------------------------------- 
  xgallery 
  -------------------------------- */

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(19, 17, 17, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* -------------------------------- 
  MAIN
  -------------------------------- */
main {
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 70vh;
}
.welcome {
  margin: auto;
  color: #fff;
  width: 100%;
  padding: 25vh 10vw;
}

.welcome h1 {
  font-size: 60px;
  padding-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 70px;
  text-align: left;
}
.welcome h4 {
  font-size: 1.5em;
  text-align: left;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 50px #000;
}
.image-tec {
  padding-top: 100px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70%;
  height: 100%;
}

/* -------------------------------- 
  Courses
  -------------------------------- */
section .container {
  margin: auto;
  width: 80vw;
}
.container h3 {
  text-align: center;
  padding: 40px 0px;
  font-size: 30px;
}
.curses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
  grid-gap: 20px;
}
.card {
  border: 0.5px solid rgb(214, 214, 214);
  text-align: center;
  border-radius: 6px;
}
.card img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card h4 {
  font-size: 15px;
  padding: 25px;
}
.btn-courses {
  width: 100%;
  display: grid;
  justify-items: center;
}
.btn-courses button {
  background-color: rgb(37, 34, 34);
  color: #fff;
  border: #000;
  padding: 15px 35px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

/* -------------------------------- 
 MiniInfo
  -------------------------------- */
.mini-info {
  margin: auto;
  width: 80%;
  height: 80vh;
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  justify-items: center;
}
.paragraph {
  padding: 20px;
  line-height: 30px;
}
.paragraph h2 {
  font-size: 25px;
  padding-bottom: 10px;
}
.paragraph p {
  padding: 10px;
}
/* -------------------------------- 
  Counter
  -------------------------------- */

.counter{
  background-image: url('../img/Home-Recording-Must-Haves.jpeg');
  box-shadow: inset 15px 15px 90px rgba(0, 0, 0, 0.566);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  width: 100%;
  height: 64vh;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  justify-items: center;
}
.counter img{
  padding-top: 90px;
  width: 50px;
}
.counter-info{
  width: 80%;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.counter-info h3{
  font-size: 45px;
  padding: 10px;
  font-weight: 700;
  text-shadow: rgb(22, 22, 22) 5px 5px 15px;
}
.counter-info h4{
  font-size: 18px;
  font-weight: 500;
}




/* -------------------------------- 
 Footer
  -------------------------------- */

footer {
  width: 100%;
  height: 30vh;
  background-color: #000;
  font-size: 15px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #fff;
}
.socialnet{
  padding-top: 20px;
  text-align: center;
}
.socialnet img{
  width: 12%;
  padding: 10px;
}


/*

----- Blog-container ------

*/

.blog-container{
  margin: 60px auto;
  width: 100%;
}
.blog-container h3{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}
.blog{
  width: 100%;
  height: 100%;
}
.article{
  width: 900px;
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 5fr;
}
.article img{
  padding: 20px 0px;
  width: 320px;
}
.article .info-article{
  padding: 20px 0px;
  color: #31353d;
} 
.article .info-article a{
  color: #31353d;
} 
.article .info-article h2 a{
  font-size: 26px;
  padding-bottom: 6px;
  font-weight: 600;
  color: #31353d;
}
.article .info-article h6 a:hover,
.article .info-article h2 a:hover{
  text-decoration: underline;
  transition: all 700ms ease-in-out;
}
.article .info-article h2 a:visited{
  color: #7e7e7e;
 }
.article .info-article p{
  font-size: 15px;
  line-height: 20px;
}
.article .info-article h4{
  font-size: 15px;
  line-height: 15px;
  color: rgb(138, 138, 138);
}
.btn-blog {
  width: 100%;
  padding: 20px;
  display: grid;
  justify-items: center;
}
.btn-blog button {
  outline: none;
  cursor: pointer;
  width: 50%;
  background-color: rgb(37, 34, 34);
  color: #fff;
  border: #000;
  padding: 15px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
}





/* -------------------------------- 
  Media Queries
  Main
  -------------------------------- */
  @media screen and (max-width: 1024px) {
    .welcome {
      padding: 24vh 10vw;
    }
    
    .welcome h1 {
      font-size: 50px;
      line-height: 60px;
    }        
  }
  /* -------------------------------- 
  Media Queries
  Courses
  -------------------------------- */
  @media screen and (max-width: 1024px) {
    section .container {
      margin: auto;
      width: 80vw;
    }
    .container h3 {
      text-align: center;
      padding: 40px 0px;
      font-size: 30px;
    }
    .curses {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 20px;
      grid-gap: 20px;
    }
    .card {
      border: 0.5px solid rgb(214, 214, 214);
      text-align: center;
      border-radius: 6px;
    }
    .card img {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .card h4 {
      font-size: 15px;
      padding: 25px;
    }
    .btn-courses {
      width: 100%;
      padding: 20px;
      display: grid;
      justify-items: center;
    }
    .btn-courses button {
      background-color: rgb(37, 34, 34);
      color: #fff;
      border: #000;
      padding: 15px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
    }
    
  }
  @media screen and (max-width: 1024px){
    /*

----- Blog-container ------

*/

.blog-container{
  margin: 60px auto;
  width: 100vw;
}
.article{
  width: 90vw;
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 5fr;

}
.article .info-article{
  width: 100%;
  padding: 20px 20px;
  margin: 0px auto;
  color: #31353d;
} 
.article .info-article a{
  color: #31353d;
  width: 100%;
} 
.article .info-article h2 a{
  font-size: 24px;
  width: 100%;
  font-weight: 600;
  padding-bottom: 6px;
  color: #31353d;
}
.article .info-article h6 a:hover,
.article .info-article h2 a:hover{
  text-decoration: underline;
  transition: all 700ms ease-in-out;
}
.article .info-article h2 a:visited{
 color: #7e7e7e;
}
.article .info-article h4{
  font-size: 15px;
  line-height: 30px;
  color: rgb(78, 75, 75);
}


  }

/* -------------------------------- 
  Media Queries
  Main v2
  -------------------------------- */
  @media screen and (max-width: 785px) {
    .welcome h1 {
      font-size: 40px;
      line-height: 60px;
    }
    .welcome h4{
      font-size: 20px;
    }     
  }
  /* -------------------------------- 
  Media Queries
  Courses
  -------------------------------- */
  @media screen and (max-width: 785px) {
    .curses {
      grid-template-columns: 1fr 1fr;
    }
    .card h4 {
      font-size: 13px;
      padding: 15px;
    }
    .btn-courses {
      width: 100%;
      padding: 20px;
      display: grid;
      justify-items: center;
    }
    .btn-courses button {
      background-color: rgb(37, 34, 34);
      color: #fff;
      border: #000;
      padding: 15px 40px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 400;
    }
    
  }
/* -------------------------------- 
 MiniInfo
  -------------------------------- */
  @media screen and (max-width: 785px) {
    .mini-info {
      margin: auto;
      width: 80%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      padding-bottom: 30px;
    }
    .paragraph {
      grid-row: 2/3;
      padding: 20px;
      line-height: 30px;
      text-align: center;
    }
    .paragraph h2 {
      font-size: 25px;
      padding-bottom: 10px;
    }
    .paragraph p {
      padding: 10px;
      text-align: justify;
    }
    .mini-info .image{
      width: 50%;
      padding-top: 90px;
    }
  }
/*BLOG PREFIX*/
@media screen and (max-width: 700px){
      /*

----- Blog-container ------

*/
.article{
  width: 95vw;
  height: 100%;
  margin: 20px auto;
  display: grid;
}
}


  /* -------------------------------- 
 Counter
  -------------------------------- */
  @media screen and (max-width: 605px) {
   
.counter{
  width: 100%;
  height: 100vh;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-items: center;
}
.counter img{
  padding-top: 40px;
  width: 50px;
}
.counter-info{
  width: 80%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.counter-info > div{
  width: 30vw;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 10px;
}
.counter-info h3{
  font-size: 40px;
  font-weight: 700;
  text-shadow: rgb(22, 22, 22) 5px 5px 15px;
}
.counter-info h4{
  font-size: 18px;
  font-weight: 500;
} 
    /*

----- Blog-container ------

*/

.blog-container{
  margin: 60px auto;
  width: 100vw;
}
.blog-container h3{
  padding: 0px;
}
.article{
  width: 100vw;
  height: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;

}
.article .img{
  width: 90vw;
  max-height: auto;
  margin: 10px auto;
}
.article img{
  width: 100%;
  max-height: auto;
}
.article .info-article{
  width: 100%;
  max-height: 100px;
  padding: 0px 20px;
  margin: -20px auto;
  color: #31353d;
} 
.article .info-article a{
  color: #31353d;
  width: 100%;
} 
.article .info-article h2 a{
  font-size: 20px;
  width: 100%;
  font-weight: 600;
  padding-bottom: 6px;
  color: #31353d;
}
.article .info-article h6 a:hover,
.article .info-article h2 a:hover{
  text-decoration: underline;
  transition: all 700ms ease-in-out;
}
.article .info-article h2 a:visited{
 color: #7e7e7e;
}
.article .info-article h4{
  font-size: 15px;
  line-height: 30px;
  color: rgb(78, 75, 75);
}


  }


/* -------------------------------- 
  Media Queries
  Main v333333
  -------------------------------- */
  @media screen and (max-width: 630px) {
    .welcome h1 {
      font-size: 35px;
      line-height: 50px;
    }
    .welcome h4{
      font-size: 20px;
    }     
  }
  /* -------------------------------- 
  Media Queries
  Courses
  -------------------------------- */
  @media screen and (max-width: 630px) {
    .curses {
      grid-template-columns: 1fr;
    }
    .card h4 {
      font-size: 18px;
      padding: 15px;
    }
    
  }

  /* -------------------------------- 
 Counter
  -------------------------------- */
  @media screen and (max-width: 630px) {
  
.counter-info h3{
  font-size: 30px;
  font-weight: 700;
  text-shadow: rgb(22, 22, 22) 5px 5px 15px;
}
.counter-info h4{
  font-size: 18px;
  font-weight: 500;
} 
  }








/* -------------------------------- 
  Media Queries
  Main v4444
  -------------------------------- */
  @media screen and (max-width: 550px) {
    .welcome{
      padding-left: 5vw;
    }
    .welcome h1 {
      font-size: 30px;
      line-height: 40px;
    }
    .welcome h4{
      font-size: 15px;
    }     
  }

/* -------------------------------- 
 MiniInfo
  -------------------------------- */
  @media screen and (max-width: 550px) {
    .mini-info {
      margin: auto;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      padding-bottom: 30px;
    }
    .paragraph {
      grid-row: 2/3;
      padding: 20px;
      line-height: 30px;
      text-align: center;
    }
    .paragraph h2 {
      font-size: 25px;
      padding-bottom: 10px;
    }
    .paragraph p {
      padding: 10px;
      text-align: justify;
    }
    .mini-info .image{
      width: 50%;
      padding-top: 90px;
    }
  }
  /* -------------------------------- 
 Counter
  -------------------------------- */
  @media screen and (max-width: 550px) {
  
.counter-info h3{
  font-size: 20px;
  font-weight: 700;
  text-shadow: rgb(22, 22, 22) 5px 5px 15px;
}
.counter-info h4{
  font-size: 14px;
  font-weight: 500;
} 
  }


/* -------------------------------- 
 Footer
  -------------------------------- */
  @media screen and (max-width: 550px) {
    footer{
      width: 100vw;
      justify-items: center;
    }
    .copyright{
      width: 80vw;
      text-align: center;
      font-size: 12px;
    }
  }

/* -------------------------------- 
 Landscape
  -------------------------------- */
  @media (max-height: 460px), screen and (orientation: portrait) {    
    .mini-info {
      margin: auto;
      width: 80%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
      padding-bottom: 30px;
    }
    .paragraph {
      grid-row: 2/3;
      padding: 20px;
      line-height: 30px;
      text-align: center;
    }
    .paragraph h2 {
      font-size: 25px;
      padding-bottom: 10px;
    }
    .paragraph p {
      padding: 10px;
      text-align: justify;
    }
    .mini-info .image{
      width: 50%;
      padding-top: 90px;
    }



    .counter{
      background-image: url('../img/Home-Recording-Must-Haves.jpeg');
      box-shadow: inset 15px 15px 90px rgba(0, 0, 0, 0.566);
      background-size: cover;
      background-attachment: fixed;
      background-position: 50% 50%;
      width: 100%;
      height: 60vh;
      color: #fff;
      display: grid;
      grid-template-rows: 1fr 1.5fr;
      justify-items: center;
    }
    .counter img{
      padding-top: 40px;
      width: 50px;
    }
    .counter-info{
      width: 90%;
      height: 20vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      text-align: center;
    }
    .counter-info h3{
      font-size: 25px;
      padding: 10px;
      font-weight: 700;
      text-shadow: rgb(22, 22, 22) 5px 5px 15px;
    }
    .counter-info h4{
      font-size: 12px;
      font-weight: 500;
    }
    footer{
      width: 100%;
      height: 40vh;
      justify-items: center;
    }
    .copyright{
      width: 80vw;
      text-align: center;
      font-size: 12px;
    }
  }







/*------------------------
  
------------------------*/

  @media screen and (max-width: 500px) {
    
    .counter{
      width: 100%;
      height: 80vh;
      color: #fff;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
    }
    .counter img{
      padding-top: 60px;
      width: 50px;
    }
    .counter-info{
      width: 80%;
      height: 60vh;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
      text-align: center;
      padding-bottom: 20px;
    }
    .counter-info > div{
      width: 45vw;
      border-bottom: 2px solid rgb(255, 255, 255);
      padding-bottom: 10px;
    }
    .counter-info h3{
      font-size: 30px;
      font-weight: 700;
      text-shadow: rgb(22, 22, 22) 5px 5px 15px;
    }
    .counter-info h4{
      font-size: 18px;
      font-weight: 500;
    } 
      }
    
    



@media screen and (max-width: 450px) {

    /*

----- Blog-container ------

*/

.blog-container{
  margin: 60px auto;
  width: 100vw;
}
.blog-container h3{
  padding: 0px;
}
.article{
  width: 100vw;
  height: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;

}
.article .img{
  width: 90vw;
  max-height: auto;
  margin: 10px auto;
}
.article img{
  width: 100%;
  max-height: auto;
}
.article .info-article{
  width: 100%;
  max-height: 100px;
  padding: 0px 20px;
  margin: -20px auto;
  color: #31353d;
} 
.article .info-article a{
  color: #31353d;
  width: 100%;
} 
.article .info-article .tags{
  font-size: 11px;
}
.article .info-article h2 a{
  font-size: 15px;
  width: 100%;
  font-weight: 600;
  padding-bottom: 6px;
  color: #31353d;
}
.article .info-article h6 a:hover,
.article .info-article h2 a:hover{
  text-decoration: underline;
  transition: all 700ms ease-in-out;
}
.article .info-article h2 a:visited{
 color: #7e7e7e;
}
.article .info-article h4{
  font-size: 12px;
  line-height: 20px;
  color: rgb(78, 75, 75);
}
}








/* -------------------------------- 
  xkeyframes 
  -------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
